node-red.json
[
    {
        "id": "916708ad1c64ad23",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4db79aa8eba8e566",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e5d220dbc54c9eab",
        "type": "group",
        "z": "916708ad1c64ad23",
        "name": "register-page",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "aae33aea0902cf3e"
        ],
        "x": 134,
        "y": 419,
        "w": 172,
        "h": 82
    },
    {
        "id": "33b1de9145fb395d",
        "type": "group",
        "z": "916708ad1c64ad23",
        "name": "Login page",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "4784ce56f3545d23",
            "ea641ed33b809e3c",
            "dadb5b65db78c0c4",
            "6cafad9efb2d2ecf",
            "762f660e53ccca3b",
            "0060d9a29b843b0f"
        ],
        "x": 134,
        "y": 219,
        "w": 652,
        "h": 182
    },
    {
        "id": "4425343a95c733ee",
        "type": "group",
        "z": "916708ad1c64ad23",
        "name": "Door-history",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "b7c4801b797387ec",
            "2f8197aaef884849",
            "2c548d1be5009d8d",
            "7f479defe43401bc",
            "7ada6c0d653e2178",
            "d8212ad951fb9ffb",
            "6ddc16ef1a8753ca"
        ],
        "x": 14,
        "y": 1379,
        "w": 472,
        "h": 282
    },
    {
        "id": "48448eba55590f23",
        "type": "group",
        "z": "916708ad1c64ad23",
        "name": "subscribe",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "4e8390ed49db6718",
            "4e98f9ea02fb6853"
        ],
        "x": 434,
        "y": 739,
        "w": 372,
        "h": 182
    },
    {
        "id": "0fb5f084f09dde07",
        "type": "group",
        "z": "916708ad1c64ad23",
        "name": "Adjust",
        "style": {
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "0b2093e4e19c3508",
            "eb9f5405e68ba7bd",
            "cb4eb9bf8de35a06",
            "aeefa7cffe6fd81b",
            "5e76d64faad15350",
            "1cf1c6adb0c829b1",
            "d616ce73375189ab",
            "ae6e68d2303f4c19",
            "1b2da42c56207f5b",
            "7e78cb416c1ce755",
            "d8f6968b87917a74",
            "a3d279f9e1510b09",
            "0b355587f7d5378a",
            "54e35ee51f5c044a",
            "9567fc9e136a45c0",
            "7511e826e0a454c5",
            "a32bffd547bd96eb"
        ],
        "x": 334,
        "y": 979,
        "w": 1312,
        "h": 362
    },
    {
        "id": "6ba0c56fa3a08f57",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    },
    {
        "id": "c853a5f46c9c3c3b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Smart Door",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "242bb5e8cc6e236f",
        "type": "ui_group",
        "name": "Switch",
        "tab": "6ba0c56fa3a08f57",
        "order": 1,
        "disp": true,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "975a56c88443a6df",
        "type": "ui_group",
        "name": "Display",
        "tab": "6ba0c56fa3a08f57",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "d1aef56c328c2c49",
        "type": "ui_group",
        "name": "Status",
        "tab": "6ba0c56fa3a08f57",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3ff6f6dc28002473",
        "type": "ui_tab",
        "d": true,
        "name": "Log in",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "a41ff99becdf55cd",
        "type": "ui_group",
        "name": "Login",
        "tab": "3ff6f6dc28002473",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "499e76dd4fa8167b",
        "type": "ui_tab",
        "d": true,
        "name": "Register",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "0c9715f080d9707a",
        "type": "ui_group",
        "name": "Register",
        "tab": "499e76dd4fa8167b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5cdd0ae1587785cf",
        "type": "ui_spacer",
        "z": "916708ad1c64ad23",
        "name": "spacer",
        "group": "a41ff99becdf55cd",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8fff603602f21c0",
        "type": "ui_spacer",
        "z": "916708ad1c64ad23",
        "name": "spacer",
        "group": "a41ff99becdf55cd",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "fb658f343261321e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.21.57.182",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8fea6f99ebfeae55",
        "type": "ui_spacer",
        "z": "916708ad1c64ad23",
        "name": "spacer",
        "group": "242bb5e8cc6e236f",
        "order": 6,
        "width": 7,
        "height": 1
    },
    {
        "id": "4784ce56f3545d23",
        "type": "ui_form",
        "z": "916708ad1c64ad23",
        "g": "33b1de9145fb395d",
        "name": "login",
        "label": "",
        "group": "a41ff99becdf55cd",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "ea641ed33b809e3c"
            ]
        ]
    },
    {
        "id": "ea641ed33b809e3c",
        "type": "function",
        "z": "916708ad1c64ad23",
        "g": "33b1de9145fb395d",
        "name": "check login",
        "func": "var success = {};\nvar fail = {};\n\nif (msg.payload.username == \"a\" && msg.payload.password == \"a\") {\n    success.payload = \"Log in successfully\";\n    return [success, null];\n}\nelse {\n    fail.payload = \"Log in fail\";\n    return [null, fail];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 340,
        "wires": [
            [
                "dadb5b65db78c0c4",
                "6cafad9efb2d2ecf"
            ],
            [
                "dadb5b65db78c0c4"
            ]
        ]
    },
    {
        "id": "0bc5b659f6a48a0e",
        "type": "ui_ui_control",
        "z": "916708ad1c64ad23",
        "name": "",
        "events": "all",
        "x": 1480,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "dadb5b65db78c0c4",
        "type": "ui_toast",
        "z": "916708ad1c64ad23",
        "g": "33b1de9145fb395d",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "1c47820c465e3107",
        "type": "ui_button",
        "z": "916708ad1c64ad23",
        "name": "",
        "group": "242bb5e8cc6e236f",
        "order": 7,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "log out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 160,
        "wires": [
            [
                "fea1421811fdf142"
            ]
        ]
    },
    {
        "id": "fea1421811fdf142",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Log in\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 160,
        "wires": [
            [
                "0bc5b659f6a48a0e"
            ]
        ]
    },
    {
        "id": "aae33aea0902cf3e",
        "type": "ui_form",
        "z": "916708ad1c64ad23",
        "g": "e5d220dbc54c9eab",
        "name": "Register",
        "label": "",
        "group": "0c9715f080d9707a",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "username": "",
            "password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 220,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b7c4801b797387ec",
        "type": "ui_table",
        "z": "916708ad1c64ad23",
        "g": "4425343a95c733ee",
        "group": "975a56c88443a6df",
        "name": "History",
        "order": 7,
        "width": 12,
        "height": 4,
        "columns": [
            {
                "field": "",
                "title": "",
                "width": "10%",
                "align": "left",
                "formatter": "rownum",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "timestamp",
                "title": "Timestamp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "act",
                "title": "Action",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "result",
                "title": "Result",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "temp",
                "title": "Temperature",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "stat",
                "title": "Status",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 400,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6cafad9efb2d2ecf",
        "type": "change",
        "z": "916708ad1c64ad23",
        "g": "33b1de9145fb395d",
        "name": "Show Dashboard",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Dashboard\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 360,
        "wires": [
            [
                "0bc5b659f6a48a0e"
            ]
        ]
    },
    {
        "id": "762f660e53ccca3b",
        "type": "ui_button",
        "z": "916708ad1c64ad23",
        "g": "33b1de9145fb395d",
        "name": "",
        "group": "a41ff99becdf55cd",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Register",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 220,
        "y": 280,
        "wires": [
            [
                "0060d9a29b843b0f"
            ]
        ]
    },
    {
        "id": "2f8197aaef884849",
        "type": "ui_date_picker",
        "z": "916708ad1c64ad23",
        "g": "4425343a95c733ee",
        "name": "",
        "label": "Choose Date for detail Door info",
        "group": "975a56c88443a6df",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 1420,
        "wires": [
            [
                "b7c4801b797387ec"
            ]
        ]
    },
    {
        "id": "2c548d1be5009d8d",
        "type": "inject",
        "z": "916708ad1c64ad23",
        "g": "4425343a95c733ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"timestamp\":\"12:22:10\",\"act\":\"Open door\",\"result\":\"Fail\",\"temp\":\"30\",\"stat\":\"High\"},{\"timestamp\":\"12:22:23\",\"act\":\"Open door\",\"result\":\"Successful\",\"temp\":\"28\",\"stat\":\"Normal\"},{\"timestamp\":\"12:22:30\",\"act\":\"Close door\",\"result\":\"Fail\",\"temp\":\"22\",\"stat\":\"Low\"}]",
        "payloadType": "json",
        "x": 190,
        "y": 1480,
        "wires": [
            [
                "b7c4801b797387ec"
            ]
        ]
    },
    {
        "id": "7f479defe43401bc",
        "type": "ui_dropdown",
        "z": "916708ad1c64ad23",
        "g": "4425343a95c733ee",
        "name": "",
        "label": "Action",
        "tooltip": "",
        "place": "",
        "group": "975a56c88443a6df",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "All",
                "value": "All",
                "type": "str"
            },
            {
                "label": "Open Door",
                "value": "Open Door",
                "type": "str"
            },
            {
                "label": "Close Door",
                "value": "Close Door",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 1540,
        "wires": [
            [
                "6ddc16ef1a8753ca"
            ]
        ]
    },
    {
        "id": "7ada6c0d653e2178",
        "type": "ui_dropdown",
        "z": "916708ad1c64ad23",
        "g": "4425343a95c733ee",
        "name": "",
        "label": "Result",
        "tooltip": "",
        "place": "",
        "group": "975a56c88443a6df",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "All",
                "value": "All",
                "type": "str"
            },
            {
                "label": "Successful",
                "value": "Successful",
                "type": "str"
            },
            {
                "label": "Fail",
                "value": "Fail",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 1580,
        "wires": [
            [
                "6ddc16ef1a8753ca"
            ]
        ]
    },
    {
        "id": "d8212ad951fb9ffb",
        "type": "ui_dropdown",
        "z": "916708ad1c64ad23",
        "g": "4425343a95c733ee",
        "name": "",
        "label": "Status",
        "tooltip": "",
        "place": "",
        "group": "975a56c88443a6df",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "All",
                "value": "All",
                "type": "str"
            },
            {
                "label": "High",
                "value": "High",
                "type": "str"
            },
            {
                "label": "Normal",
                "value": "Normal",
                "type": "str"
            },
            {
                "label": "Low",
                "value": "Low",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 90,
        "y": 1620,
        "wires": [
            [
                "6ddc16ef1a8753ca"
            ]
        ]
    },
    {
        "id": "0060d9a29b843b0f",
        "type": "change",
        "z": "916708ad1c64ad23",
        "g": "33b1de9145fb395d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Register\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 280,
        "wires": [
            [
                "0bc5b659f6a48a0e"
            ]
        ]
    },
    {
        "id": "6ddc16ef1a8753ca",
        "type": "ui_button",
        "z": "916708ad1c64ad23",
        "g": "4425343a95c733ee",
        "name": "",
        "group": "975a56c88443a6df",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Apply",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "4e8390ed49db6718",
        "type": "mqtt in",
        "z": "916708ad1c64ad23",
        "g": "48448eba55590f23",
        "name": "",
        "topic": "/group_21/local/temperature/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb658f343261321e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 620,
        "y": 880,
        "wires": [
            [
                "42f4cb67e872cc2e",
                "2028ecfba20d3db6"
            ]
        ]
    },
    {
        "id": "4e98f9ea02fb6853",
        "type": "mqtt in",
        "z": "916708ad1c64ad23",
        "g": "48448eba55590f23",
        "name": "",
        "topic": "/group_21/local/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb658f343261321e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 650,
        "y": 780,
        "wires": [
            [
                "0ac3c46e9df22a6e"
            ]
        ]
    },
    {
        "id": "0b2093e4e19c3508",
        "type": "ui_slider",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "Lower Bound Temperature",
        "label": "Lower Bound",
        "tooltip": "",
        "group": "242bb5e8cc6e236f",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 100,
        "step": 1,
        "className": "",
        "x": 720,
        "y": 1080,
        "wires": [
            [
                "7e78cb416c1ce755"
            ]
        ]
    },
    {
        "id": "eb9f5405e68ba7bd",
        "type": "change",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "store lower temp",
        "rules": [
            {
                "t": "set",
                "p": "lowerTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1280,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "cb4eb9bf8de35a06",
        "type": "ui_slider",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "Upper Bound Temperature",
        "label": "Upper Bound",
        "tooltip": "",
        "group": "242bb5e8cc6e236f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": 100,
        "step": 1,
        "className": "",
        "x": 720,
        "y": 1140,
        "wires": [
            [
                "d8f6968b87917a74"
            ]
        ]
    },
    {
        "id": "aeefa7cffe6fd81b",
        "type": "change",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "store upper temp",
        "rules": [
            {
                "t": "set",
                "p": "upperTemp",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "x": 1290,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "5e76d64faad15350",
        "type": "ui_button",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "Apply",
        "group": "242bb5e8cc6e236f",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Apply",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 610,
        "y": 1280,
        "wires": [
            [
                "1cf1c6adb0c829b1"
            ]
        ]
    },
    {
        "id": "1cf1c6adb0c829b1",
        "type": "function",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "Prepare MQTT Payload",
        "func": "var lower = {}, upper = {};\nlower.payload = flow.get('lowerTemp');\nupper.payload = flow.get('upperTemp');\nreturn [upper, lower];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1280,
        "wires": [
            [
                "d616ce73375189ab"
            ],
            [
                "1b2da42c56207f5b"
            ]
        ]
    },
    {
        "id": "d616ce73375189ab",
        "type": "mqtt out",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "",
        "topic": "/group_21/web/temperature/upper_bound",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb658f343261321e",
        "x": 1180,
        "y": 1240,
        "wires": []
    },
    {
        "id": "ae6e68d2303f4c19",
        "type": "ui_text",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "group": "242bb5e8cc6e236f",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Adjust warning Temperature",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 600,
        "y": 1020,
        "wires": []
    },
    {
        "id": "406c3e1860a73046",
        "type": "mqtt in",
        "z": "916708ad1c64ad23",
        "name": "",
        "topic": "/group_21/local/door_unlock",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb658f343261321e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "728b6b05b11f89ac"
            ]
        ]
    },
    {
        "id": "192f50d87c3d9617",
        "type": "mqtt in",
        "z": "916708ad1c64ad23",
        "name": "",
        "topic": "/group_21/local/door_lock",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb658f343261321e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "829e4dd52565f6a3"
            ]
        ]
    },
    {
        "id": "829e4dd52565f6a3",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 600,
        "wires": [
            [
                "919fcf0d8603efb9"
            ]
        ]
    },
    {
        "id": "728b6b05b11f89ac",
        "type": "switch",
        "z": "916708ad1c64ad23",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 540,
        "wires": [
            [
                "ef8773427a0c5b41"
            ],
            [
                "5a62007a03bbf746"
            ]
        ]
    },
    {
        "id": "5a62007a03bbf746",
        "type": "http request",
        "z": "916708ad1c64ad23",
        "d": true,
        "name": "send warning to user",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 660,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "47c02c7d721d1997",
        "type": "ui_text",
        "z": "916708ad1c64ad23",
        "group": "d1aef56c328c2c49",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Door status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1630,
        "y": 620,
        "wires": []
    },
    {
        "id": "ef8773427a0c5b41",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "open",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 480,
        "wires": [
            [
                "47c02c7d721d1997"
            ]
        ]
    },
    {
        "id": "919fcf0d8603efb9",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "close",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 600,
        "wires": [
            [
                "47c02c7d721d1997"
            ]
        ]
    },
    {
        "id": "42f4cb67e872cc2e",
        "type": "ui_gauge",
        "z": "916708ad1c64ad23",
        "name": "",
        "group": "d1aef56c328c2c49",
        "order": 3,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "",
        "format": "{{value}}°C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1010,
        "y": 880,
        "wires": []
    },
    {
        "id": "0ac3c46e9df22a6e",
        "type": "ui_gauge",
        "z": "916708ad1c64ad23",
        "name": "",
        "group": "d1aef56c328c2c49",
        "order": 4,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1020,
        "y": 740,
        "wires": []
    },
    {
        "id": "2028ecfba20d3db6",
        "type": "function",
        "z": "916708ad1c64ad23",
        "name": "check temp corresponding to temp status",
        "func": "var lowerTemp = flow.get('lowerTemp')\nvar upperTemp = flow.get('upperTemp')\nif (msg.payload > upperTemp) {\n    msg.payload = \"High\"\n} else if (lowerTemp <= msg.payload && msg.payload <= upperTemp) {\n    msg.payload = \"Normal\"\n} else {\n    msg.payload = \"Low\"\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 940,
        "wires": [
            [
                "8e198a84459f58df"
            ]
        ]
    },
    {
        "id": "8e198a84459f58df",
        "type": "ui_text",
        "z": "916708ad1c64ad23",
        "group": "d1aef56c328c2c49",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1250,
        "y": 940,
        "wires": []
    },
    {
        "id": "76df8c91216b2c65",
        "type": "mqtt in",
        "z": "916708ad1c64ad23",
        "name": "",
        "topic": "/group_21/local/temperature/upper_bound",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb658f343261321e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1140,
        "wires": [
            [
                "7511e826e0a454c5"
            ]
        ]
    },
    {
        "id": "ba623912096c86c8",
        "type": "mqtt in",
        "z": "916708ad1c64ad23",
        "name": "",
        "topic": "/group_21/local/temperature/lower_bound",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fb658f343261321e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 1080,
        "wires": [
            [
                "a32bffd547bd96eb"
            ]
        ]
    },
    {
        "id": "1b2da42c56207f5b",
        "type": "mqtt out",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "",
        "topic": "/group_21/web/temperature/lower_bound",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb658f343261321e",
        "x": 1180,
        "y": 1300,
        "wires": []
    },
    {
        "id": "a452379adb904039",
        "type": "mqtt out",
        "z": "916708ad1c64ad23",
        "name": "",
        "topic": "/group_21/web/door",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fb658f343261321e",
        "x": 1520,
        "y": 420,
        "wires": []
    },
    {
        "id": "7e78cb416c1ce755",
        "type": "switch",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "check temperature limit condition",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "upperTemp",
                "vt": "flow"
            },
            {
                "t": "gte",
                "v": "upperTemp",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1020,
        "y": 1080,
        "wires": [
            [
                "eb9f5405e68ba7bd"
            ],
            [
                "9567fc9e136a45c0"
            ]
        ]
    },
    {
        "id": "d8f6968b87917a74",
        "type": "switch",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "check temperature limit condition",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "lowerTemp",
                "vt": "flow"
            },
            {
                "t": "lte",
                "v": "lowerTemp",
                "vt": "flow"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1020,
        "y": 1140,
        "wires": [
            [
                "aeefa7cffe6fd81b"
            ],
            [
                "54e35ee51f5c044a"
            ]
        ]
    },
    {
        "id": "a3d279f9e1510b09",
        "type": "ui_toast",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1540,
        "y": 1080,
        "wires": []
    },
    {
        "id": "0b355587f7d5378a",
        "type": "ui_toast",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1540,
        "y": 1160,
        "wires": []
    },
    {
        "id": "54e35ee51f5c044a",
        "type": "change",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The upper limit temperature must be greater than the lower limit temperature.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1160,
        "wires": [
            [
                "0b355587f7d5378a"
            ]
        ]
    },
    {
        "id": "9567fc9e136a45c0",
        "type": "change",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "The lower limit temperature must be less than the upper limit temperature.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1080,
        "wires": [
            [
                "a3d279f9e1510b09"
            ]
        ]
    },
    {
        "id": "7511e826e0a454c5",
        "type": "function",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "set default temp limit",
        "func": "if (flow.get('upperTemp') == undefined) {\n    flow.set('upperTemp', msg.payload)\n}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1140,
        "wires": [
            [
                "cb4eb9bf8de35a06"
            ]
        ]
    },
    {
        "id": "a32bffd547bd96eb",
        "type": "function",
        "z": "916708ad1c64ad23",
        "g": "0fb5f084f09dde07",
        "name": "set default temp limit",
        "func": "if (flow.get('lowerTemp') == undefined) {\n    flow.set('lowerTemp', msg.payload)\n}\nreturn msg",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 1080,
        "wires": [
            [
                "0b2093e4e19c3508"
            ]
        ]
    },
    {
        "id": "5e78d43099eb2cc6",
        "type": "ui_button",
        "z": "916708ad1c64ad23",
        "name": "",
        "group": "242bb5e8cc6e236f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "open/close Door",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 880,
        "y": 460,
        "wires": [
            [
                "64c7089722e30cba"
            ]
        ]
    },
    {
        "id": "f1395bae56402176",
        "type": "function",
        "z": "916708ad1c64ad23",
        "name": "function 2",
        "func": "if (flow.get('status') == 'open') {\n    msg.payload = 0\n    flow.set('status', 'close')\n} else if (flow.get('status') == 'close') {\n    msg.payload = 1\n    flow.set('status', 'open')\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "64c7089722e30cba",
        "type": "switch",
        "z": "916708ad1c64ad23",
        "name": "",
        "property": "status",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1050,
        "y": 460,
        "wires": [
            [
                "e65aebac1dc02faa"
            ],
            [
                "a5efaba2c1bd39e9"
            ]
        ]
    },
    {
        "id": "e65aebac1dc02faa",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "open->close",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "close",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 420,
        "wires": [
            [
                "a452379adb904039",
                "e0fb6a5b4862f0af"
            ]
        ]
    },
    {
        "id": "a5efaba2c1bd39e9",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "close->open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "status",
                "pt": "flow",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1210,
        "y": 520,
        "wires": [
            [
                "a452379adb904039",
                "6c7fc97897e52af3"
            ]
        ]
    },
    {
        "id": "e0fb6a5b4862f0af",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "close",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "close",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 520,
        "wires": [
            [
                "47c02c7d721d1997"
            ]
        ]
    },
    {
        "id": "6c7fc97897e52af3",
        "type": "change",
        "z": "916708ad1c64ad23",
        "name": "open",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "open",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1410,
        "y": 560,
        "wires": [
            [
                "47c02c7d721d1997"
            ]
        ]
    },
    {
        "id": "32b8fcc4b18c5b25",
        "type": "ui_chart",
        "z": "916708ad1c64ad23",
        "name": "",
        "group": "975a56c88443a6df",
        "order": 1,
        "width": 12,
        "height": 5,
        "label": "Temperature line chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "No Data",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1280,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "cdb7f0450acea20c",
        "type": "http request",
        "z": "4db79aa8eba8e566",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/update?api_key=VEA6S3YIJ020J415&field1={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "21451358a98bdac6",
                "4730184aea0ee1b8"
            ]
        ]
    },
    {
        "id": "21451358a98bdac6",
        "type": "debug",
        "z": "4db79aa8eba8e566",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "13e5cefd385fb1aa",
        "type": "inject",
        "z": "4db79aa8eba8e566",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "e4b2abeb35598c26"
            ]
        ]
    },
    {
        "id": "e4b2abeb35598c26",
        "type": "function",
        "z": "4db79aa8eba8e566",
        "name": "function 1",
        "func": "let ranNum = Math.random() * 100\nmsg.payload = ranNum;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 200,
        "wires": [
            [
                "cdb7f0450acea20c"
            ]
        ]
    },
    {
        "id": "4730184aea0ee1b8",
        "type": "ui_gauge",
        "z": "4db79aa8eba8e566",
        "d": true,
        "name": "",
        "group": "975a56c88443a6df",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload.main.temp}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 710,
        "y": 340,
        "wires": []
    }
]